@using HotFix.Models;

@{ 
    var currentUser = ViewBag.User as UserModel;
    bool isLoggedIn = currentUser != null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script>
        function ShowLoginForm() {
            alert("yes")
        }
    </script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Good Fix</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://www.google.com">What is</a></li>
                    <li><a href="http://www.google.com">How does it work</a></li>
                    @if (!isLoggedIn)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
                            <ul id="login-dp" class="dropdown-menu">
                                <li>
                                    <div class="row">
                                        <div class="col-md-12">
                                            @*Login via
                                            <div class="social-buttons">
                                                <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                                                <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
                                            </div>
                                            or*@
                                            <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                                                <div class="form-group">
                                                    <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
                                                </div>
                                                <div class="form-group">
                                                    <label class="sr-only" for="exampleInputPassword2">Password</label>
                                                    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                                                    @*<div class="help-block text-right"><a href="">Forget the password ?</a></div>*@
                                                </div>
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="bottom text-center">
                                            Don't have an account? <a href="#"><b>Register</b></a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Logout","Home")">Logout</a></li>
                    }
                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>

    @RenderBody()

    
        <footer class="footer-bs">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 footer-brand animated fadeInLeft">
                        <h2>Good Fix</h2>
                        <p>Transforming strangers on a strange land</p>
                        <p>© 2017 HotFix, All rights reserved</p>
                    </div>
                    <div class="col-md-4 footer-nav animated fadeInUp">
                        <h4>Helpfull Links —</h4>
                        <div class="col-md-6">
                            <ul class="pages">
                                <li><a href="#">Travel</a></li>
                                <li><a href="#">Nature</a></li>
                                <li><a href="#">Explores</a></li>
                                <li><a href="#">Science</a></li>
                                <li><a href="#">Advice</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Contacts</a></li>
                                <li><a href="#">Terms & Condition</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 footer-social animated fadeInDown">
                        <h4>Follow Us</h4>
                        <ul>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">RSS</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 footer-ns animated fadeInRight">
                        <h4>Newsletter</h4>
                        <p>Regular updates of what's to come</p>
                        <p>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="me@email.com">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-envelope"></span></button>
                                </span>
                            </div><!-- /input-group -->
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>