<form>
    <div class="form-group">
        <label for="username">Email :</label>
        <input type="text" class="form-control" id="username" />
    </div>

    <div class="form-group">
        <label for="password">password :</label>
        <input type="text" class="form-control" id="password" />
    </div>
</form>