@using HotFix.Models
@model List<WorkModel>

@{
    ViewBag.Title = "Work";
}

<div class="container" style="margin-top: 60px">
    <div class="row">
        @foreach (var work in Model)
        {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="@work.Picture" alt="work picture">
                    <div class="caption">
                        <h3>@work.Name</h3>
                        <p>@work.JobDescription</p>
                        <p><a href="#" class="btn btn-primary" role="button">Apply</a> 
                        <a href="#" class="btn btn-default" role="button">Read More</a></p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
