@{
    ViewBag.Title = "Index";
}

<link href="~/assets/css/homepage.css" rel="stylesheet" type="text/css" />

<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <!-- Overlay -->
    <div class="overlay"></div>
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#bs-carousel" data-slide-to="1"></li>
        <li data-target="#bs-carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item slides active">
            <div class="slide-1"></div>
            <div class="hero">
                <hgroup>
                    <h1>Hack For Good</h1>
                    <h3>Fundação Calouste Gulbenkian</h3>
                </hgroup>
                <a href="#square_section" class="btn btn-hero btn-lg" role="button">Read More</a>
            </div>
        </div>
        <div class="item slides">
            <div class="slide-2"></div>
            <div class="hero">
                <hgroup>
                    <h1>Hack For Good</h1>
                    <h3>Fundação Calouste Gulbenkian</h3>
                </hgroup>
                <a href="#square_section" class="btn btn-hero btn-lg" role="button">Read More</a>
            </div>
        </div>
        <div class="item slides">
            <div class="slide-3"></div>
            <div class="hero">
                <hgroup>
                    <h1>Hack For Good</h1>
                    <h3>Fundação Calouste Gulbenkian</h3>
                </hgroup>
                <a href="#square_section" class="btn btn-hero btn-lg" role="button">Read More</a>
            </div>
        </div>
    </div>
</div>


<div id="square_section"class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Consume</h2>
            <p>Provide refugees access to all they need to live and belong to a strange land</p>
            <p><a class="btn btn-default" href="#" role="button">Learn More&raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Supply</h2>
            <p>Supply all the refugees need to live and belong to a strange land</p>
            <p><a class="btn btn-default" href="#" role="button">Learn More &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Notify</h2>
            <p>Share and read information about the latest news and event related to the topic</p>
            <p><a class="btn btn-default" href="#" role="button">Learn More &raquo;</a></p>
        </div>
    </div>
</div>