@{
    ViewBag.Title = "Index";
}

<link href="~/assets/css/homepage.css" rel="stylesheet" type="text/css" />

<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel" style="margin-top: -71px">
    <!-- Overlay -->
    <div class="overlay"></div>
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#bs-carousel" data-slide-to="1"></li>
        <li data-target="#bs-carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item slides active">
            <div class="slide-1"></div>
            <div class="hero">
                <div style="display:block">
                    <span style="font-size:40px">Rendezvous</span>
                    <h3>Bringing locals and migrants together</h3>
                </div>
                <a href="#square_section" class="btn btn-hero btn-lg" role="button">Learn More</a>
            </div>
        </div>
    </div>
</div>
<div class="row" id="what_is" style="background-color: #E0F2F1">    
    <div class="container">
        <div class="row">
            <h2>How does it work</h2>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img src="~/assets/img/user-background.jpg" />
            </div>
            <div class="col-md-7">
                <p>Rendezvous is a multi-platform solution for social integration</p>
                <p>It works by being a single point of access for service providers and activity seekers</p>
                <p>
                    With this platform, refugees will have the possibility to be integrated in their new community,
                    by taking part of the many offers that their providers offer to them
                </p>
                <p>Integration is the key for a better community</p>
            </div>
        </div>
    </div>
</div>
<div class="row" id="for_migrants" style="background-color: #B2DFDB">
    <div class="container">
        <div class="row">
            <h2>For Migrants</h2>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img src="~/assets/img/user-background.jpg" />
            </div>
            <div class="col-md-7">
                <p>Rendezvous is a multi-platform solution for social integration</p>
                <p>It works by being a single point of access for service providers and activity seekers</p>
                <p>
                    With this platform, refugees will have the possibility to be integrated in their new community,
                    by taking part of the many offers that their providers offer to them
                </p>
                <p>Integration is the key for a better community</p>
            </div>
        </div>
        </div>
</div>
<div class="row" id="for_locals" style="background-color: #80CBC4">
    <div class="container">
        <div class="row">
            <h2>For Locals</h2>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img src="~/assets/img/user-background.jpg" />
            </div>
            <div class="col-md-7">
                <p>Rendezvous is a multi-platform solution for social integration</p>
                <p>It works by being a single point of access for service providers and activity seekers</p>
                <p>
                    With this platform, refugees will have the possibility to be integrated in their new community,
                    by taking part of the many offers that their providers offer to them
                </p>
                <p>Integration is the key for a better community</p>
            </div>
        </div>
    </div>
</div>
