@model HotFix.Models.HousingViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <form class="form-horizontal" action='@Url.Action("AddHouse", "Housing")' method="POST">
        <fieldset>
            <div id="legend">
                <legend class="">New House</legend>
            </div>
            <div class="control-group">
                <!-- Username -->
                <label class="control-label" for="Name">House Name</label>
                <div class="controls">
                    <input type="text" id="Name" name="Name" placeholder="" class="input-xlarge">
                    <p class="help-block">Username can contain any letters or numbers, without spaces</p>
                </div>
            </div>

            <div class="control-group">
                <!-- E-mail -->
                <label class="control-label" for="Category">Category</label>
                <div class="controls">
                    <input type="text" id="Category" name="Category" placeholder="" class="input-xlarge">
                    <p class="help-block">Define a category (house, hotel, apartment,...)</p>
                </div>
            </div>

            <div class="control-group">
                <!-- E-mail -->
                <label class="control-label" for="Rooms">Number of rooms</label>
                <div class="controls">
                    <input type="number" id="Rooms" name="Rooms" placeholder="" class="input-xlarge">
                    <p class="help-block">Number of rooms (T0, T1, ...)</p>
                </div>
            </div>

            <div class="control-group">
                <!-- E-mail -->
                <label class="control-label" for="Description">Description</label>
                <div class="controls">
                    <input type="text" id="Description" name="Description" placeholder="" class="input-xlarge">
                    <p class="help-block">Description of the house</p>
                </div>
            </div>

            @*<div class="control-group">
                    <!-- E-mail -->
                    <label class="control-label" for="Image">Image</label>
                    <div class="controls">
                        <input type="image" id="Image" name="Image" placeholder="" class="input-xlarge">
                        <p class="help-block"></p>
                    </div>
                </div>*@

            <div class="control-group">
                <!-- E-mail -->
                <label class="control-label" for="Street">Street</label>
                <div class="controls">
                    <input type="text" id="Street" name="Street" placeholder="" class="input-xlarge">
                    <p class="help-block">Local</p>
                </div>
            </div>

            <div class="control-group">
                <!-- E-mail -->
                <label class="control-label" for="City">City</label>
                <div class="controls">
                    <input type="text" id="City" name="City" placeholder="" class="input-xlarge">
                    <p class="help-block">City</p>
                </div>
            </div>

            <div class="control-group">
                <!-- E-mail -->
                <label class="control-label" for="PostalCode">PostalCode</label>
                <div class="controls">
                    <input type="text" id="PostalCode" name="PostalCode" placeholder="" class="input-xlarge">
                    <p class="help-block">Postal/Zip Code</p>
                </div>
            </div>
            <div class="control-group">
                <!-- Button -->
                <div class="controls">
                    <button class="btn btn-success">Register</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
