@model HotFix.Models.UserModel

@{
    ViewBag.Title = "Index";
}

<style>
    .row{
        margin-top : 20px;
    }
</style>

<body>
    <div class="container">
        <div class="row" style="display:flex; justify-content:center; padding-top:10px;">
            <div class="col-md-5" >
                <div class="row">
                    <div class="h3 text-center">
                        @Model.FirstName @Model.LastName
                    </div>
                </div>

                <div class="row">
                    <div class="thumbnail">
                        <img class="img-responsive" src="@Model.ProfilePicture" style="position:center;"/>
                    </div>
                </div>
                
                <div class="row">
                    <div class="h3 text-center">
                        //foreach activity Model.Activities
                    </div>
                </div>

            </div>
            <div class="col-md-5 col-md-offset-1 hidden-sm hidden-xs">
                <div class="row" id="tabs">
                    <ul class="nav nav-tabs">
                        <li class="active" ><a data-toggle="tab" href="#info">Info</a></li>
                        <li><a data-toggle="tab" href="#menu1">cenas1</a></li>
                        <li><a data-toggle="tab" href="#menu2">cenas2</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div id="info" class="tab-pane fade in active">
                        <div id="user-info">
                            @Html.Partial("UserInfoPartial", Model)
                        </div>
                    </div>
                    <div id="menu1" class="tab-pane fade">
                        <h3>Menu 1</h3>
                        <p>Some content in menu 1.</p>
                    </div>
                    <div id="menu2" class="tab-pane fade">
                        <h3>Menu 2</h3>
                        <p>Some content in menu 2.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
