
@{
    ViewBag.Title = "UserActivityPartial";
}


<div class="row" style="margin-top: 20px;">
    <div class="list-group">
        <li class="list-group-item row">
            <div class="col-sm-2 thumbnail">
                <img class="img-responsive" src="~/assets/img/event.jpg" style="cursor:pointer" />
            </div>
            <div class="col-sm-offset-1 col-sm-8">
                <div class="row">
                    Colheita Horta Comunitária
                </div>
                <div class="row">
                    Rating given : <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i>
                </div>
            </div>
        </li>
        <li class="list-group-item row">
            <div class="col-sm-2 thumbnail">
                <img class="img-responsive" src="~/assets/img/house.jpg" style="cursor:pointer" />
            </div>
            <div class="col-sm-offset-1 col-sm-8">
                <div class="row">
                    Passeio Medieval 
                </div>
                <div class="row">
                    Rating given : <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i>
                </div>
            </div>
        </li>
        <li class="list-group-item row">
            <div class="col-sm-2 thumbnail">
                <img class="img-responsive" src="~/assets/img/food.jpg" style="cursor:pointer" />
            </div>
            <div class="col-sm-offset-1 col-sm-8">
                <div class="row">
                    Tasca do zé
                </div>
                <div class="row">
                    Rating given : <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i>
                </div>
            </div>
        </li>
    </div>
</div>
